*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



// uppgift 1

body{
    background-color: aliceblue;
}
$base-color: rgb(59, 192, 154);

h1{
  background-color: $base-color;
}

button{
  background-color: $base-color;
  margin-bottom: 2%;
}

// uppgift 2


header{
    background-color: $base-color;
nav {
   
    display: flex;
    ul{
        background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
       
        
    }
   
    ul:hover {
        background-color: yellow;
       
      }

  }

}


// uppgift 3

@mixin kaksmet($bg-color, $text-color, $border-radius){

  // grund recept
  padding: 1rem 2rem;
  font-size: 1.5rem;


  // justera utrifrån muffin

  background-color: $bg-color;
  color: $text-color;
  border-radius: $border-radius;
  


}

.blueberry{
  @include kaksmet(yellow, blue, 2rem)
}

.choclate{
  @include kaksmet(brown, blue, .5rem)
}


.vanilj{
  @include kaksmet(yellow, blue, .5rem)
}


  
// uppgift 4

  @media  (max-width: 768px) {
    p {
      font-size: 16px;
     
    }
  }


